<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="EADiagramPublisher.Properties.Settings.ERLConnectionString_Desktop" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\Users\O.KARELIN\Desktop\ERL.eap" providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
    <add key="exchangePath" value="F:\DEV\ERL\SchemePublisher\EAPublisher\Exchange" />
    <add key="parentPage" value="TEST" />
    <add key="javaRuntime" value="C:\Program Files\Java\jre1.8.0_144\bin" />
    <add key="javaArguments" value="-classpath &quot;F:\DEV\ERL\SchemePublisher\SchemePublisher\target\classes;C:\Users\Helg\.m2\repository\org\slf4j\slf4j-simple\1.6.1\slf4j-simple-1.6.1.jar;C:\Users\Helg\.m2\repository\org\slf4j\slf4j-api\1.6.1\slf4j-api-1.6.1.jar;C:\Users\Helg\.m2\repository\com\fasterxml\jackson\core\jackson-core\2.11.0\jackson-core-2.11.0.jar;C:\Users\Helg\.m2\repository\com\fasterxml\jackson\core\jackson-annotations\2.11.0\jackson-annotations-2.11.0.jar;C:\Users\Helg\.m2\repository\com\fasterxml\jackson\core\jackson-databind\2.11.0\jackson-databind-2.11.0.jar&quot; com.msr.schemepublisher.run.Main" />
    <!--add key="onConnectOpenDiagram" value="{F88D0873-9CCE-4099-9F3E-BFB8ACA1173E}"/-->
    <add key="onConnectOpenDiagram" value="{9AB219BF-DCAE-4df4-B0C4-A4A86AE0EB76}" />
    <add key="onConnectSetLibrary" value="{9CFE2E0D-43F5-4c3d-AF53-37C8D932BEEE}" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="F:\DEV\ERL\SchemePublisher\EAPublisher\EADiagramPublisher\bin\Debug" />
      <!--
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0"/>
      </dependentAssembly>
      -->
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>