<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="exchangePath" value="F:\DEV\ERL\SchemePublisher\EAPublisher\Exchange"/>
    <add key="parentPage" value="TEST"/>
    <add key="javaRuntime" value="C:\Program Files\Java\jre1.8.0_144\bin"/>
    <add key="javaArguments" value="-classpath &quot;F:\DEV\ERL\SchemePublisher\SchemePublisher\target\classes;C:\Users\Helg\.m2\repository\org\slf4j\slf4j-simple\1.6.1\slf4j-simple-1.6.1.jar;C:\Users\Helg\.m2\repository\org\slf4j\slf4j-api\1.6.1\slf4j-api-1.6.1.jar;C:\Users\Helg\.m2\repository\com\fasterxml\jackson\core\jackson-core\2.11.0\jackson-core-2.11.0.jar;C:\Users\Helg\.m2\repository\com\fasterxml\jackson\core\jackson-annotations\2.11.0\jackson-annotations-2.11.0.jar;C:\Users\Helg\.m2\repository\com\fasterxml\jackson\core\jackson-databind\2.11.0\jackson-databind-2.11.0.jar&quot; com.msr.schemepublisher.run.Main" />
  </appSettings>
</configuration>